<h1>Edit</h1>
<h4>Emploee</h4>
<hr/>
<div class="row">
    <div class="col-md-10">
            <div class="col-md-6">
                <div class="form-group">
                    <label  class="control-label">First Name</label>
                    <div class="col-md-10">
                    <input placeholder="First Name" type="text" [(ngModel)]='eFname' value="{{ service.dataofEmploye.fname}}">
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    <label  class="control-label">Last Name</label>
                    <div class="col-md-10">
                    <input placeholder="Last Name" type="text" [(ngModel)]='eLname' value="{{ service.dataofEmploye.lname}}">
                    </div>
                </div>
            </div>


            <div class="col-md-6">
                <div class="form-group">
                    <label  class="control-label">Email</label>
                    <div class="col-md-10">
                    <input placeholder="Email" type="text" [(ngModel)]='eEmail' value="{{ service.dataofEmploye.email}}">
                    </div>
                </div>
            </div>


            <div class="col-md-6">
                <div class="form-group">
                    <label  class="control-label">phone</label>
                    <div class="col-md-10">
                   <input placeholder="Emploee phone" type="text" [(ngModel)]='ePhone' value="{{ service.dataofEmploye.phone}}">
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    <label  class="control-label">address</label>
                    <div class="col-md-10">
                  <input placeholder="Emploee address" type="text" [(ngModel)]='eAddress' value="{{ service.dataofEmploye.address}}">
                    </div>
                </div>
            </div>


            <div class="col-md-6">
                <div class="form-group">
                    <label  class="control-label">Emploee salary</label>
                    <div class="col-md-10">
                  <input placeholder="Emploee salary" type="text" [(ngModel)]='eSalary' value="{{ service.dataofEmploye.salary}}">
                    </div>
                </div>
            </div>


            <div class="col-md-6">
                <div class="form-group">
                    <label  class="control-label">gender</label>

                    <div class="col-md-10">
                  <input placeholder="gender" type="text" [(ngModel)]='eGender' value="{{service.dataofEmploye.gender}}">
                    </div>
                </div>
            </div>



            <div class="col-md-6">
                <div class="form-group">
                    <label  class="control-label">gender</label>

                    <div class="col-md-10">
                  <input placeholder="gender" type="date" [(ngModel)]='eDateReg' value="{{service.dataofEmploye.dateReg}}">
                    </div>
                </div>
            </div>

 
            <div class="input-material-group mb-3">
                <label class="label-material" for="Price"> Password </label>
                  <input class="input-material" type="text" [(ngModel)]='ePassword' value="{{service.dataofEmploye.password}}" required>

              </div>


              <div class="input-material-group mb-3">
                <label class="label-material" for="Price"> Username </label>
                  <input class="input-material" type="text" [(ngModel)]='eUsername' value="{{service.dataofEmploye.username}}" required>      
              </div>


        
                      
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label">Image</label>
                    <div class="col-md-10">
                        <input #imageInput type="file" accept="image/*" ngModel="imageInput" value="{{service.dataofEmploye.empImage}}"  (change)="processFile(imageInput.files)">
                    </div>
                </div>
            </div>
        
    </div>
</div>

<button type="submit" (click)="Updateemployee2()" >Edit</button>

