<div class="container">  
    <form>  
        
        
            <input placeholder="prparty quantity" type="text" [(ngModel)]='quantity' required autofocus>
            <input placeholder="COLOR_ID" type="number"  [(ngModel)]='COLOR_ID'  required>
            <input placeholder="SIZE_ID" type="number"  [(ngModel)]='SIZE_ID'  required>
            <input placeholder="PRODUCT_ID" type="number"  [(ngModel)]='PRODUCT_ID'  required>
            <input placeholder="SKIN_ID" type="number"  [(ngModel)]='SKIN_ID'  required>
            <input placeholder="AGE_ID" type="number"  [(ngModel)]='AGE_ID'  required>
        
          
        <button (click)="CreateProparty2()">Submit</button>
          
    
    
    </form>  
    
    
