<h1>Edit</h1>
<h4>product</h4>
<hr />
<div class="row">
    <div class="col-md-10">
            <input type="hidden" asp-for="Id" />
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label">Name product</label>

                    <div class="col-md-10">
                 
                        <input  type="text" [(ngModel)]='productName' value="{{ productservice.dataofProduct.name}}">

                    </div>
                </div>
            </div>
            
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label">description product</label>

                    <div class="col-md-10">
                 
                        <input  type="text" [(ngModel)]='productdescription' value="{{ productservice.dataofProduct.description}}">
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label">price</label>
                    <div class="col-md-10">
                        <input  type="text" [(ngModel)]='productPrice' value="{{ productservice.dataofProduct.price}}">
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label">OffeR</label>

                    <div class="col-md-10">
                 <h1>{{productservice.dataofProduct.amount}}</h1>
                        <input  type="text" [(ngModel)]='productoffeR_ID' value="{{productservice.dataofProduct.offeR_ID}}">
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    <label  class="control-label">Name category</label>

                    <div class="col-md-10">
                        <input  type="text" [(ngModel)]='productcategory_Id' value="{{ productservice.dataofProduct.category_Id}}">
                    </div>
                </div>
            </div>


            <div class="col-md-6">
                <div class="form-group">
                    <label  class="control-label">Date add product</label>

                    <div class="col-md-10">
                 
                        <input placeholder="categoey Name" type="date" [(ngModel)]='productdateofadd' value="{{ productservice.dataofProduct.dateofadd |date:'yyyy-MM-dd'}}">
                    </div>
                </div>
            </div>

          
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label">Image</label>
                    <div class="col-md-10">   
                        <label>image</label>
                        <input #imageInput type="file" accept="image/*" ngModel="imageInput" (change)="processFile(imageInput.files)">                  
                    </div>
                </div>
            </div>
        </div>
</div>
<button type="submit" (click)=" UpdateProduct2()" > Edite</button>

